.card-wrap, #wrapCollected{
  position:relative;
  display: flex;
  width:100%;
  height:auto;
  justify-content: flex-start;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
}

.itemCard{height:500px; width:100%;}
.largeCard{width:calc((100% / 6) - 0.50rem);}
.smallCard{width:calc((100% / 5) - 0.50rem);}

#wrapCollected{max-height: 75vh; overflow: auto;}
fieldset > legend{color:#875e29; font-weight: bold; font-size:1.7rem;}
.modal-xxl{width:90vw !important; max-width: 90vw !important;}
#map{position: relative; width:100%; height:400px;}

.card-header{width:100%; height: 200px; background-position: center; background-repeat: no-repeat; background-size: contain;}

@media (min-width: 768px) {
  .itemCard{width:calc((100% / 3) - 0.50rem);}
}

@media (min-width: 1024px) {
  .itemCard{width:calc((100% / 4) - 0.50rem);}
}
@media (min-width: 1200px) {
  .itemCard{width:calc((100% / 5) - 0.50rem);}
}

@media (min-width: 1400px) {
  .itemCard{width:calc((100% / 6) - 0.50rem);}
}