.dashboardFlex{ display: flex; flex-direction: row; flex-wrap: wrap; align-content: flex-start; justify-content: flex-start; align-items: flex-start;}

#dashboardWrap{margin: 0 20px;}
#modelDashboardGallery{position: relative; width: 100%; margin:0; padding:0; overflow: auto;}

.toolbarDiv{ padding:15px 0; }
.listWrap{position: relative; width: 100%; height: 500px; overflow: auto;}
.listWrap a, #modelDashboardGallery .card-body {font-size:12px;}
div.listDashBoard span{display:inline-block; vertical-align: top; padding:2px;}

#artifactList, #modelList{width:100%;}
#artifactList{margin-right:1%;}
#artifactList p{margin:0;}
#artifactList p span:nth-child(1){width: 25%; }
#artifactList p span:nth-child(2){width: 48%; }
#artifactList p span:nth-child(3){width: 20%; }
#artifactList p span:nth-child(4){width: 5%; }

.toolbarDiv>div{width:100%;}
.toolbarDiv>div{position:relative; display: inline-block;}
.modelCardSmall{ position:relative; width:24%; margin:2px; height:50%;}
.thumbDiv{ position:relative; width:100%; height:100px; background-position: center; background-repeat: no-repeat; background-size: contain;}

#institutionList, #userList{width:35%; margin-right:1%}
#institutionDasboardList a, #institutionDasboardList p{font-size:16px;}
#institutionDasboardList .cardLogo{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#userList a.disabled{margin-right:2%;}
#userList a span{ width: 18%; }
#userList a span:nth-child(1){width: 28%; }

#personList{width:calc(100% - 72%);}
#personList li span{display:block; }

#mapWrap{width:100%;}
#map{position:relative;width: 100%; height: 500px;}

@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #artifactList, #modelList{width:calc(99% / 2);}
  .toolbarDiv>div:nth-child(1){width:49%;}
  .toolbarDiv>div:nth-child(2){width:49%;}
  #personList .toolbarDiv>div:nth-child(1){width:25%;}
  #personList .toolbarDiv>div:nth-child(2){width:73%;}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #artifactList, #modelList{width:calc(99% / 2);}
  .toolbarDiv>div:nth-child(1){width:49%;}
  .toolbarDiv>div:nth-child(2){width:49%;}
  #personList .toolbarDiv>div:nth-child(1){width:25%;}
  #personList .toolbarDiv>div:nth-child(2){width:73%;}
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  #artifactList, #modelList{width:calc(99% / 2);}
  .toolbarDiv>div:nth-child(1){width:49%;}
  .toolbarDiv>div:nth-child(2){width:49%;}
  #personList .toolbarDiv>div:nth-child(1){width:25%;}
  #personList .toolbarDiv>div:nth-child(2){width:73%;}
}
